{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <style type = "text/css">
            h1{text-align:center;}
            body{background-color:rgb(255, 97, 5);}
            .botão{
                width:150px; 
                height:30px;
                color:red; 
            }
            
        
        </style>




    </head>
    <body>
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                    <h1>Login</h1>
                </div>
        
                <br><br><br><br><br><br>
        
                <div class="row">
                    <div class="col-lg-4 mt-4 mt-md-0 offset-md-4">
                        <center>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    {{ form.username|add_class:'form-control'|append_attr:'placeholder:Usuário'|append_attr:'data-rule:"minlen:3"' }}
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    {{ form.password|add_class:'form-control'|append_attr:'placeholder:Senha'|append_attr:'data-rule:"minlen:3"' }}
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="error-message">
                                    {% if form.errors %}
                                        Your username and password didn't match. Please try again.
                                    {% endif %}
        
                                    {% if next %}
                                        {% if user.is_authenticated %}
                                            Your account doesn't have access to this page. To proceed, please login with an account that has access.
                                        {% else %}
                                            Please login to see this page.
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <input class = "botão" type="submit" value= "Entrar">
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                        </form>
                        </center>
                    </div>
        
                </div>
        
            </div>
        
            <br><br>
        
           
        </section>
    </body>

</html>